<%- include('partials/headerMain') -%>
<section class="secundaryNavegation">
    <ul class="flex items-center gap-12">
        <li><a href="/<%= title %>/inbox">Inbox</a></li>
        <li><a href="/<%= title %>/projects/inprogress">Projects</a></li>
        <li><a href="/<%= title %>/tasks/due">Tasks</a></li>
        <li><a href="/<%= title %>/goals">Goals</a></li>
        <li><a href="/<%= title %>/Dashboard">Dashboard</a></li>
    </ul>
    <hr>
</section>
<section>
    <div>  
        <ul class="flex gap-12 justify-start">
            <li><a href="/<%= title %>/projects/planned"><i></i>Planned</a></li>
            <li><a href="/<%= title %>/projects/inprogress"><i></i>In progress</a></li>
            <li><a href="/<%= title %>/projects/completed">Completed</a></li>
            <div class="flex justify-end">
                <button class="add-project">+</button>
            </div>
        </ul>
        <hr>
    </div>
</section>
<section class="projects">
    <section class="project">
        <% project.forEach(element => { %>
            <a href="#">
                <div class="sCard">
                    <div>
                        <h3><%= element.name%> </h3>
                        <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
                            <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width:<%= element.process %>%"> <%= element.progress %>% </div>
                        </div>
                    </div>
                </div>
            </a>
        <% }) %>
    </section>
    <section class="addingProject false">
        <div class="card">
            <h2>Create Project</h2>
            <form method="POST" action="/<%=title%>/projects/planned" >
                <div class="inputsProject">
                    <div class="flex flex-column">
                        <div class="inputs flex-column"> 
                            <label for="name">Name
                                <input type="text" id="name" name="name"placeholder="name of the project">
                            </label>
                            <label for="descrip">Description
                                <textarea name="desc" id="descrip" cols="50" rows="8" name="description" placeholder="description of the project"></textarea>
                            </label>
                        </div>
                    </div>
                    <div class="flex flex-column">
                        <h3>Tasks</h3>
                        <hr>
                        <div id="temporaryTasks">
                        </div>
                        <div class="flex-column">
                            <label for="taskName">Tasks name
                                <input type="text" id="taskName" name="taskName" placeholder="Task name">                        
                            </label>
                            <label for="taskDescrip">Tasks Description
                                <textarea name="taskDescription" id="taskDescrip" cols="50" rows="8" name="taskDescription" placeholder="Task Description"></textarea>
                            </label>
                            <span id="add-subtasks" >Add Tasks to project</span>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <button type="submit" >Add Project</button>
                </div>
            </form>
        </div>
    </section>
</section>

<%- include('partials/footer') -%>






